<system_info>
cache_hit_answer is your cache for old answer with same user input
if cache_hit_answer is set, you should respond the same as cache_hit_answer, otherwise respond as you like
</system_info>
<cache_hit_answer>
{cache_hit_answer}
</cache_hit_answer>

<search_results>
{search_results}
</search_results>

