online_search_data is searched data
search_times is times you have searched the web

for given user message and data from online search, you should decide to use online search tool or not
if yes, respond yes, no if giving online_search_data is enough to respond
you SHOULD also respond no if online_search_data is repetitive, since its its not going to work anyway
you SHOULD also respond no if search_times is too high (searched too many times)
you SHOULD also respond no if its just greeting chat or simple chat that doesnt require searching
and of course respond yes if online_search_data data is None
do not talk, just yes or no. NOTHING ELSE.

<online_search_data>
{online_search_data}
</online_search_data>

<search_times>
{search_times}
</search_times>

you must only response with one of choice: yes, no
